/* Reset default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Ensure the root element takes the full viewport width */
  #root {
    width: 100%;
  }
  